<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nevernotconfused.coryatwater.listviewlauncher">

    <application
        android:launchMode="singleTask"
        android:label="@string/main_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:stateNotNeeded="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppListActivity"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>
